.webhook_edit_active a {
    padding: 0.3em;
    background-color: rgb(63, 69, 69);
    text-decoration: none;
    color: #ffffff;
}

.active-log-page{
    background-color: #2a8bcb ;
    color: #FFFFFF;
}

.page-button{
    margin: 0.1rem;
}


#logs .error{
    background-color: #DC143C;
    color: #FFFFFF;
}

#logs .api{
    background-color: #4682B4;
    color: #FFFFFF;
}

#logs .not-tried{
    background-color: #DC143C;
    color: #FFFFFF;
}

#logs .success{
    background-color: #90EE90;
    /*color: #FFFFFF;*/
}

#logs .tried{
    background-color: #BA55D3;
    color: #FFFFFF;
}


.bg-active-log-filter{
    background-color:  #FFFF00
;
}